.App {
  height: 100vh;
  box-sizing: border-box;
  overflow: hidden;
}

.todoList {
  margin: 10px; 
  padding: 0; 
  color:black;
}

.toDoInput {
  margin: 4vh 1vh;
}

li.done {
  text-decoration: line-through;
}
button{
  color:grey;
  background-color:black;
  margin: 5px;
}